services:
  mock-ecu:
    build: .
    container_name: mock-obd-ecu
    network_mode: host
    privileged: true
    command: python mock_ecu.py
    restart: unless-stopped

  test-client:
    build: .
    container_name: mock-obd-client
    network_mode: host
    privileged: true
    command: python test_client.py
    depends_on:
      - mock-ecu
    profiles:
      - testing
